.personal-website {
  background-color: #f0ffff;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

.nav-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: 20px;
  color: rgb(136, 136, 136);
}

.social-media {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  color: #f1f1f1;
  line-height: 52px;
  text-align: center;
  background-color: #48a65b;
}
.icon:after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  box-sizing: content-box;
}
/* Hover effect */
.icon-effect .icon {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.icon-effect .icon:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px #f1f1f1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
.icon-effect-1a .icon:hover {
  background-color: #f1f1f1;
  color: #48a65b;
}
.icon-effect-1a .icon:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.nav-logo {
  width: 75px;
  height: 100%;
}

.links {
  padding: 10px;
  font-size: 10px;
}

.head {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 750px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.headText {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  align-items: center;
}
.BibleVerse {
  width: 650px;
  height: 50px;
}
.line {
  margin-top: -160px;
  margin-bottom: -130px;
  align-self: center;
}
.line2 {
  margin-top: -160px;
  margin-bottom: -130px;
  align-self: center;
}
.headAnimation {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.about {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  height: 750px;
  padding: 50px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.IDphoto {
  width: 400px;
  height: 400px;
  box-shadow: -6px 6px 5px 5px #313131;
  border-radius: 5%;
  inset: 0px 0px 20px 10px rgba(0, 0, 0, 0.6);
}
.aboutText {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.aboutBio {
  position: relative;
  display: flex;
  width: 430px;
}
.aboutList {
  text-align: left;
  font-size: 25px;
}
.education {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  flex-direction: row;
  margin-top: -80px;
  height: 650px;
}
.penaburphoto {
  width: 130px;
}
.ntuphoto {
  width: 200px;
}
.ntupenabur {
  flex-direction: column;
  text-align: left;
  margin-right: 0px;
}
.educationBody {
  display: flex;
  flex-direction: column;
}
.educationAnimate {
  margin-left: 50px;
  align-self: center;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.educationAnimation {
  width: 500px;
}
.educationSchool {
  display: flex;
  flex-direction: column;
}
.educationText {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.educationUni {
  display: flex;
  flex-direction: row;
  margin: 60px;
}
.educationHS {
  display: flex;
  flex-direction: row;
  margin: 60px;
}
.schoolTitle {
  display: flex;
  font-style: italic;
}
.project {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 750px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
​ .selector-for-some-widget {
  box-sizing: content-box;
}
ul {
  display: flex;
  justify-content: center;
}
ul > li {
  display: inline;
  margin-right: 20px;
}

@media screen and (max-width: 760px) {
  .head {
    flex-direction: column;
    height: 812px;
  }
  .links {
    padding: 5px;
  }
  .headText {
    font-size: 22px;
    margin-inline: 0;
  }
  .headPhoto {
    width: 300px;
  }
  .BibleVerse {
    width: 200px;
  }
  .line {
    margin-top: -150px;
    width: 90%;
  }
  .about {
    flex-direction: column;
    height: 812px;
  }
  .IDphoto {
    width: 200px;
    height: 200px;
  }
  .h1 {
    font-size: 20px;
  }
  .aboutBio {
    align-items: center;
    width: 330px;
  }
  .aboutText {
    align-items: center;
  }
  .education {
    margin-top: 100px;
    flex-direction: column;
  }
  .educationHS {
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
  }
  .educationUni {
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
  }
  .educationAnimation {
    width: 0px;
  }
}
@media screen and (min-width: 760px) and (max-width: 850px) {
  .head {
    flex-direction: column;
    align-items: stretch;
    height: 1000px;
  }
  .headText {
    font-size: 25px;
  }
  .headPhoto {
    width: 400px;
  }
  .about {
    flex-direction: column;
    height: 1000px;
    padding: 0px;
  }
  .aboutBio {
    font-size: 20px;
  }
  .IDphoto {
    width: 300px;
    height: 300px;
  }
  .educationAnimation {
    width: 0px;
  }
}
@media screen and (min-width: 860px) and (max-width: 1050px) {
  .head {
    flex-direction: column;
    height: 1366px;
  }
  .headText {
    font-size: 35px;
  }
  .about {
    flex-direction: column;
    height: 1366px;
  }
  .aboutBio {
    font-size: 25px;
  }
  .educationAnimation {
    width: 0px;
  }
}
